* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-txt: #4e4e4e;
  --secondary-txt: #a09a9a;
  --sec-white: #737373;
}
.block {
  display: block;
}
.lg:inline-block {
  display: inline-block !important;
}
.size-2 {
  font-size: 2.2rem;
}
.semi-b500 {
  font-weight: 500;
}
.capitalize {
  text-transform: capitalize;
}
.prim-bg {
  background-color: var(--primary-txt);
}
.prim-txt {
  color: var(--primary-txt);
}
.sec-bg {
  background-color: var(--primary-txt);
}
.sec-txt {
  color: var(--primary-txt);
}
.mb-20 {
  margin-bottom: 20px;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: "KumbhSans";
  src: url(/fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}
body {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 400;
  font-family: "KumbhSans", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}
/* sideNav */
.sideNav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  z-index: 111;
}
.avatar {
  width: 100%;
  height: 25rem;
  background-color: #aaaaaa;
}
.navGroup,
.sideFooter {
  padding: 3rem;
}
.navGroup {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  /* height: 100%; */
}
.navLink {
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}
.navLink:hover {
  text-decoration: underline;
}
/* hiddenSide */
.hiddenSide {
  width: 25vw;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  padding: 4rem 5rem;
}
h1 {
  margin: 0;
  font-size: 7rem;
  text-transform: capitalize;
  font-weight: bolder;
}
h2 {
  text-transform: capitalize;
  font-size: 3.6rem;
  color: var(--secondary-txt);
}
.iconsGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.iconsGroup:hover {
  text-decoration: underline;
}
.date:hover {
  text-decoration: none;
}
.iconsGroup img {
  margin-right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
}
.content {
  padding-top: 10rem;
}
h3 {
  font-weight: 700;
  font-size: 2.8rem;
  text-transform: capitalize;
  color: var(--primary-txt);
}
.p,
.li {
  line-height: 3rem;
  color: var(--sec-white);
}
.mail-b {
  display: flex;
  align-items: center;
}
.mailBa {
  margin-left: 10px;
}
