@media (max-width: 991px) {
  .hidden {
    display: none !important;
  }
  .block {
    display: block;
  }
  html {
    font-size: 55%;
  }
  body {
    position: relative;
  }
  .bar {
    position: fixed;
    top: 2rem;
    right: 5%;
    z-index: 1;
  }
  svg {
    font-size: 4rem;
  }
  .sideNav {
    left: -100%;
    width: 80vw;
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
  }
  .main {
    padding: 6rem 2rem 2rem;
  }
  .content {
    padding-top: 5rem;
  }
  .left0 {
    left: 0;
  }
  .li {
    margin-left: 1.5rem;
  }
  .mail-b {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .mailBa {
    margin: 0;
  }
}
